USE [master]
GO
/****** Object:  Database [Gestion_mat]    Script Date: 04/05/2023 15:02:44 ******/
CREATE DATABASE [Gestion_mat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gestion_mat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Gestion_mat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gestion_mat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Gestion_mat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gestion_mat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gestion_mat]
GO
/****** Object:  Table [dbo].[ADMINISTRATEUR]    Script Date: 04/05/2023 15:02:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINISTRATEUR](
	[ID_ADMIN] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN] [varchar](50) NOT NULL,
	[MDP] [varchar](200) NOT NULL,
 CONSTRAINT [ADMINISTRATEUR_PK] PRIMARY KEY CLUSTERED 
(
	[ID_ADMIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 04/05/2023 15:02:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[ID_CLIENT] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](50) NOT NULL,
	[NUM_CLIENT] [varchar](50) NOT NULL,
	[ADRESSE] [varchar](50) NOT NULL,
	[MAIL] [varchar](50) NULL,
	[TELEPHONE] [varchar](50) NOT NULL,
 CONSTRAINT [CLIENT_PK] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTERVENTION]    Script Date: 04/05/2023 15:02:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTERVENTION](
	[ID_INTERVENTION] [int] IDENTITY(1,1) NOT NULL,
	[DATE] [datetime] NOT NULL,
	[COMMENTAIRE] [text] NULL,
	[ID_TECHNICIEN] [int] NOT NULL,
	[ID_MATERIEL] [int] NOT NULL,
 CONSTRAINT [INTERVENTION_PK] PRIMARY KEY CLUSTERED 
(
	[ID_INTERVENTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARQUE]    Script Date: 04/05/2023 15:02:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARQUE](
	[ID_MARQUE] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](50) NOT NULL,
 CONSTRAINT [MARQUE_PK] PRIMARY KEY CLUSTERED 
(
	[ID_MARQUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIEL]    Script Date: 04/05/2023 15:02:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIEL](
	[ID_MATERIEL] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](50) NOT NULL,
	[N_SERIE] [varchar](50) NOT NULL,
	[DATE_INSTALL] [datetime] NOT NULL,
	[MTBF] [int] NOT NULL,
	[ID_MARQUE] [int] NOT NULL,
	[ID_TYPE] [int] NOT NULL,
	[ID_CLIENT] [int] NOT NULL,
 CONSTRAINT [MATERIEL_PK] PRIMARY KEY CLUSTERED 
(
	[ID_MATERIEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TECHNICIEN]    Script Date: 04/05/2023 15:02:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TECHNICIEN](
	[ID_TECHNICIEN] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](50) NOT NULL,
 CONSTRAINT [TECHNICIEN_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TECHNICIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE]    Script Date: 04/05/2023 15:02:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE](
	[ID_TYPE] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](50) NOT NULL,
 CONSTRAINT [TYPE_PK] PRIMARY KEY CLUSTERED 
(
	[ID_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADMINISTRATEUR] ON 

INSERT [dbo].[ADMINISTRATEUR] ([ID_ADMIN], [LOGIN], [MDP]) VALUES (1004, N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918')
INSERT [dbo].[ADMINISTRATEUR] ([ID_ADMIN], [LOGIN], [MDP]) VALUES (1009, N'user', N'04f8996da763b7a969b1028ee3007569eaf3a635486ddab211d512c85b9df8fb')
INSERT [dbo].[ADMINISTRATEUR] ([ID_ADMIN], [LOGIN], [MDP]) VALUES (2013, N'tom', N'e1608f75c5d7813f3d4031cb30bfb786507d98137538ff8e128a6ff74e84e643')
SET IDENTITY_INSERT [dbo].[ADMINISTRATEUR] OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENT] ON 

INSERT [dbo].[CLIENT] ([ID_CLIENT], [NOM], [NUM_CLIENT], [ADRESSE], [MAIL], [TELEPHONE]) VALUES (4, N'FoneMarket', N'0234567890', N'18 allée Jean', N'fonemarket@contact.com', N'0022546852')
INSERT [dbo].[CLIENT] ([ID_CLIENT], [NOM], [NUM_CLIENT], [ADRESSE], [MAIL], [TELEPHONE]) VALUES (5, N'YouPomme', N'150256056410546850', N'2 avenue Chouchou', N'youpomme@gmail.fr', N'0000000005')
INSERT [dbo].[CLIENT] ([ID_CLIENT], [NOM], [NUM_CLIENT], [ADRESSE], [MAIL], [TELEPHONE]) VALUES (1009, N'Amazon', N'25453213', N'1 rue Silicon', N'support@amazon.com', N'+(0) 85 45 45 21 21')
SET IDENTITY_INSERT [dbo].[CLIENT] OFF
GO
SET IDENTITY_INSERT [dbo].[INTERVENTION] ON 

INSERT [dbo].[INTERVENTION] ([ID_INTERVENTION], [DATE], [COMMENTAIRE], [ID_TECHNICIEN], [ID_MATERIEL]) VALUES (1112, CAST(N'2023-03-03T14:39:34.000' AS DateTime), N'', 2024, 1030)
INSERT [dbo].[INTERVENTION] ([ID_INTERVENTION], [DATE], [COMMENTAIRE], [ID_TECHNICIEN], [ID_MATERIEL]) VALUES (1113, CAST(N'2023-03-03T14:39:38.000' AS DateTime), N'', 2025, 1030)
INSERT [dbo].[INTERVENTION] ([ID_INTERVENTION], [DATE], [COMMENTAIRE], [ID_TECHNICIEN], [ID_MATERIEL]) VALUES (1114, CAST(N'2023-03-03T14:39:59.000' AS DateTime), N'', 2019, 1033)
SET IDENTITY_INSERT [dbo].[INTERVENTION] OFF
GO
SET IDENTITY_INSERT [dbo].[MARQUE] ON 

INSERT [dbo].[MARQUE] ([ID_MARQUE], [NOM]) VALUES (1, N'Apple')
INSERT [dbo].[MARQUE] ([ID_MARQUE], [NOM]) VALUES (2, N'Dell')
INSERT [dbo].[MARQUE] ([ID_MARQUE], [NOM]) VALUES (3, N'Samsung')
SET IDENTITY_INSERT [dbo].[MARQUE] OFF
GO
SET IDENTITY_INSERT [dbo].[MATERIEL] ON 

INSERT [dbo].[MATERIEL] ([ID_MATERIEL], [NOM], [N_SERIE], [DATE_INSTALL], [MTBF], [ID_MARQUE], [ID_TYPE], [ID_CLIENT]) VALUES (1030, N'A20', N'000000000000', CAST(N'2023-03-03T12:55:16.000' AS DateTime), 4, 3, 2, 1009)
INSERT [dbo].[MATERIEL] ([ID_MATERIEL], [NOM], [N_SERIE], [DATE_INSTALL], [MTBF], [ID_MARQUE], [ID_TYPE], [ID_CLIENT]) VALUES (1031, N'GL312', N'111111111111', CAST(N'2023-02-23T17:02:45.000' AS DateTime), 4, 8, 2, 1014)
INSERT [dbo].[MATERIEL] ([ID_MATERIEL], [NOM], [N_SERIE], [DATE_INSTALL], [MTBF], [ID_MARQUE], [ID_TYPE], [ID_CLIENT]) VALUES (1033, N'S545', N'222222222222', CAST(N'2023-03-09T17:21:25.000' AS DateTime), 2, 3, 17, 1010)
SET IDENTITY_INSERT [dbo].[MATERIEL] OFF
GO
SET IDENTITY_INSERT [dbo].[TECHNICIEN] ON 

INSERT [dbo].[TECHNICIEN] ([ID_TECHNICIEN], [NOM]) VALUES (1012, N'Alex')
INSERT [dbo].[TECHNICIEN] ([ID_TECHNICIEN], [NOM]) VALUES (2014, N'Yaniv')
INSERT [dbo].[TECHNICIEN] ([ID_TECHNICIEN], [NOM]) VALUES (2015, N'Julie')
SET IDENTITY_INSERT [dbo].[TECHNICIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[TYPE] ON 

INSERT [dbo].[TYPE] ([ID_TYPE], [NOM]) VALUES (1, N'Souris')
INSERT [dbo].[TYPE] ([ID_TYPE], [NOM]) VALUES (2, N'PC portable')
INSERT [dbo].[TYPE] ([ID_TYPE], [NOM]) VALUES (3, N'PC fixe')
SET IDENTITY_INSERT [dbo].[TYPE] OFF
GO
ALTER TABLE [dbo].[INTERVENTION]  WITH CHECK ADD  CONSTRAINT [FK_INTERVENTION_MATERIEL] FOREIGN KEY([ID_MATERIEL])
REFERENCES [dbo].[MATERIEL] ([ID_MATERIEL])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[INTERVENTION] CHECK CONSTRAINT [FK_INTERVENTION_MATERIEL]
GO
ALTER TABLE [dbo].[MATERIEL]  WITH CHECK ADD  CONSTRAINT [MATERIEL_CLIENT1_FK] FOREIGN KEY([ID_CLIENT])
REFERENCES [dbo].[CLIENT] ([ID_CLIENT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MATERIEL] CHECK CONSTRAINT [MATERIEL_CLIENT1_FK]
GO
ALTER TABLE [dbo].[MATERIEL]  WITH CHECK ADD  CONSTRAINT [MATERIEL_MARQUE_FK] FOREIGN KEY([ID_MARQUE])
REFERENCES [dbo].[MARQUE] ([ID_MARQUE])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MATERIEL] CHECK CONSTRAINT [MATERIEL_MARQUE_FK]
GO
ALTER TABLE [dbo].[MATERIEL]  WITH CHECK ADD  CONSTRAINT [MATERIEL_TYPE0_FK] FOREIGN KEY([ID_TYPE])
REFERENCES [dbo].[TYPE] ([ID_TYPE])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MATERIEL] CHECK CONSTRAINT [MATERIEL_TYPE0_FK]
GO
/****** Object:  StoredProcedure [dbo].[AffTechnicien]    Script Date: 04/05/2023 15:02:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AffTechnicien]
AS
BEGIN
	SELECT * FROM TECHNICIEN ORDER BY NOM ASC
END
GO
/****** Object:  StoredProcedure [dbo].[AffType]    Script Date: 04/05/2023 15:02:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AffType]
AS
BEGIN
	SELECT * FROM TYPE
END
GO
USE [master]
GO
